.appWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.absolute {
  padding: 20px 96px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}

.appFix {
  background-color: var(--bg-theme);
}
.fixed {
  margin: 0 auto;
  max-width: 1440px;
  padding: 30px 128px;
}

.appNavWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navRight {
  gap: 92px;
}

.appCenter {
  gap: 164px;
}

.logo {
  color: var(--text-color-white);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.48px;
}
