.appWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 96px;
  position: absolute;
  top: 32px;
  left: 32px;
  right: 32px;
  z-index: 100;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}

.appNavWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 92px;
}

.logo {
  color: var(--text-color-white);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.48px;
}
