.navList {
  display: flex;
  gap: 40px;
}

.navLink {
  color: var(--text-color-white);
  line-height: 20px;
  letter-spacing: -0.16px;
  transition: opacity 300ms ease;
}

.navLink:hover,
.navLink:focus {
  opacity: 0.8;
}

.active {
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--text-color-white);
}
