@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  font-weight: 400;
  src: url('../assets/fonts/HelveticaNeueCyr-Roman.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  font-weight: 500;
  src: url('../assets/fonts/HelveticaNeueCyr-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  font-weight: 700;
  src: url('../assets/fonts/HelveticaNeueCyr-Bold.woff2') format('woff2');
}
