:root {
  --background-page: #f3f3f3;
  --bg-component-white: #fbfbfb;
  --bg-theme: #0957c3;
  --bg-theme-light: rgba(9, 87, 195, 0.2);
  --text-color-black: #11101c;
  --text-color-white: #fbfbfb;
  --text-light-gray: rgba(17, 16, 28, 0.3);
  --text-base-gray: rgba(17, 16, 28, 0.5);
  --text-dark-gray: #8a8a89;
  --color-light-green: #38cd3e;
  --color-yellow: #ffc531;
  --color-light-red: rgba(240, 63, 59, 0.2);
  --color-red: #f03f3b;

  transition: background-color 500ms ease;
}

/* red theme */
.red {
  --bg-theme: #f03f3b;
  --bg-theme-light: rgba(240, 63, 59, 0.2);
}

/* green theme */
.green {
  --bg-theme: #103931;
  --bg-theme-light: rgba(16, 57, 49, 0.2);
}
