.nanniesItem {
  display: flex;
  gap: 24px;
  padding: 24px;
  background-color: var(--bg-component-white);
  border-radius: 24px;
  margin-bottom: 32px;
}

.nanniesItem:last-child {
  margin-bottom: 0;
}

.imgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  min-width: 120px;
  height: 120px;
  border: 2px solid var(--bg-theme-light);
  border-radius: 30px;
}

.nanniesImg {
  border-radius: 15px;
}

.nanniesInfo {
  width: 100%;
}

.nanniesSocial {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socialList {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.socialText {
  color: var(--text-dark-gray);
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.socialInfo {
  display: flex;
  align-items: start;
  font-size: 16px;
  font-weight: 500;
}

.socialInfo span {
  color: var(--color-light-green);
  margin-left: 4px;
}

.socialItem:nth-child(2) {
  padding: 0 16px;
  border-right: 1px solid rgba(17, 16, 28, 0.2);
  border-left: 1px solid rgba(17, 16, 28, 0.2);
}

.locationIcon {
  fill: transparent;
  stroke: var(--text-color-black);
  margin-right: 8px;
}

.ratingIcon {
  fill: var(--color-yellow);
  stroke: var(--color-yellow);
  margin-right: 8px;
}

.nanniesLive {
  display: flex;
  align-items: center;
  gap: 48px;
}

.favoriteBtn {
  background: transparent;
  cursor: pointer;
}

.favoriteIcon {
  fill: transparent;
  stroke: var(--text-color-black);
}

.favoriteActive .favoriteIcon {
  fill: var(--color-red);
  stroke: var(--color-red);
}

.nanniesName {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 24px;
}

.experienceList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.experienceItem {
  padding: 8px 16px;
  background-color: var(--background-page);
  border-radius: 24px;
}

.experienceText {
  color: var(--text-dark-gray);
  font-weight: 500;
  line-height: 24px;
}

.experienceText span {
  color: var(--text-color-black);
}

.nanniesAbout {
  color: var(--text-base-gray);
  margin-bottom: 14px;
}

.readBtn {
  background: transparent;
  font-family: 'Helvetica Neue';
  font-weight: 500;
  text-decoration-line: underline;
  line-height: 20px;
  cursor: pointer;
}

.reviewsList {
  margin-top: 48px;
  margin-bottom: 48px;
}

.reviewsItem {
  margin-bottom: 24px;
}

.reviewsItem:last-child {
  margin-bottom: 0;
}

.reviewsInfo {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.reviewIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 100%;
  background-color: var(--bg-theme-light);
  color: var(--bg-theme);
}

.reviewNameRating {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 20px;
}

.reviewComment {
  color: var(--text-base-gray);
  line-height: 20px;
}

.appointmentBtn {
  padding: 14px 28px;
  color: var(--text-color-white);
  border-radius: 30px;
  background-color: var(--bg-theme);
  font-family: 'Helvetica Neue';
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.16px;
  transition: opacity 300ms ease;
  cursor: pointer;
}

.appointmentBtn:hover,
.appointmentBtn:focus {
  opacity: 0.8;
}

.reviewsContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.reviewsContainer.visible {
  max-height: 500px; /* Вистав необхідну висоту */
  opacity: 1;
}

.reviewsContainer.hidden {
  max-height: 0;
  opacity: 0;
}

.btnWrap {
  display: flex;
  justify-content: space-between;
}

.hideBtn {
  background: transparent;
  font-weight: 500;
  text-decoration-line: underline;
  cursor: pointer;
  margin-top: 8px;
}
